<% posts.each do |post| %>
  <div class="m-3 card">
   <div class="card-header">
    <span>投稿者：<%= link_to "#{post.user.name}", user_path(post.user) %></span>
    <span class="ml-3">投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></span>
   </div>

   <div class="card-body">
    <span>
     <%= link_to post_path(post.id) do %>
     <%= image_tag post.get_image(50,50) %>
     <%= post.title %>
     <% end %>
    </span>
    <span class="mx-2">
     <% post.tags.each do |tag| %>
      <i class="fas fa-tag"></i>
      <%= link_to tag_path(tag) do %>
       <%= tag.tagname %><%="(#{tag.posts.count})" %>
      <% end %>
     <% end %>
    </span>
     <%= post.body %></br>
    <span class="small">
     コメント：<%= post.comments.count %>／いいね：<%= post.favorites.count %>
    </span>
   </div>
  </div>
 <% end %>
 <%= paginate posts %>