    <h4>グループ詳細</h4>
    <table class='table'>
      <thead>
       <tr>
        <th>グループ名</th>
        <th>紹介文</th>
        <th>メンバー</th>
        <th></th>
        <th></th>
       </tr>
      </thead>
      <tbody>
       <tr>
        <td>
          <%= image_tag @group.get_group_image(50,50) %>
          <%= @group.group_name %>
        </td>
        <td><%= @group.introduction %></td>
        <td>
          <% @group.users.each do |member| %>
           <%= member.name %><br />
          <% end %>
        </td>
        <td>
          <% if @group.owner_id == current_user.id %>
           <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
           <td><%= link_to 'destroy', group_path(@group), method: :delete, data: { confirm: '本当に解散しますか？' }, class: "btn btn-sm btn-danger" %></td>
          <% elsif @group.users.include?(current_user) %>
           <%= link_to 'Leave this group', group_leave_path(@group), class: "btn btn-sm btn-danger" %>
          <% else %>
           <%= link_to 'Join this group', group_join_path(@group), class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
       </tr>
      </tbody>
    </table>
    <div class="mb-3">
     <% if @group.users.include?(current_user) %>
       <%= @group.group_name %>のメンバーとチャットをする => <%= link_to 'chat room', group_chat_messages_path(@group), class: "btn btn-sm btn-primary" %>
     <% else %>
       <%= @group.group_name %>に参加すればメンバーとチャットができます！ => <%= link_to 'Join this group', group_join_path(@group), class: "btn btn-sm btn-success" %>
     <% end %>
    </div>
    <h4>メンバーの投稿</h4>
     <% @group.users.each do |member| %>
      <% member.posts.where(is_hidden: false).each do |post| %>
        <div class="m-3 card">
         <div class="card-header">
          <span>投稿者：<%= link_to "#{post.user.name}", user_path(post.user) %></span>
          <span class="ml-3">投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></span>
         </div>

         <div class="card-body">
          <span>
           <%= link_to post_path(post.id) do %>
           <%= image_tag post.get_image(50,50) %>
           <%= post.title %>
           <% end %>
          </span>
          <span class="mx-2">
           <% post.tags.each do |tag| %>
            <i class="fas fa-tag"></i>
            <%= link_to tag_path(tag) do %>
             <%= tag.tagname %><%="(#{tag.posts.count})" %>
            <% end %>
           <% end %>
          </span>
           <%= post.body %><br />
          <span class="small">
           コメント：<%= post.comments.count %>／いいね：<%= post.favorites.count %>
          </span>
         </div>
        </div>
       <% end %>
     <% end %>