
<h4>投稿詳細</h4>
<%= @post.user.name %>
<%= image_tag @post.get_image(50,50) %>
<%= @post.title %>

<% @post_tags.each do |tag| %>
 <i class="fas fa-tag"></i>
 <%= tag.tag %><%="(#{tag.posts.count})" %>
<% end %>
<%= @post.body %>
<%= @post.created_at.strftime('%Y/%m/%d') %></br>

<% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
<% end %>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
     <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_field :comment, class: 'form-control', placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: 'btn btn-sm btn-success' %>
  <% end %>
</div>