
<h4>投稿詳細</h4>
<% if @post.user == current_user %>
 <% if @post.is_hidden == true %>
    <h6 class="text-danger">この投稿は非公開状態です</h6>
  <% else %>
    <h6 class="text-info">この投稿はユーザーに公開されています</h6>
  <% end %>
    <%= form_with model: @post, url: post_status_update_path(@post), method: :patch, local: true do |f| %>
      <div>
      <%= f.radio_button :is_hidden, :false %>
      <%= f.label :"公開", class:"mr-2" %>
      <%= f.radio_button :is_hidden, :true %>
      <%= f.label :"非公開" %>
      <%= f.submit "変更を保存", class:"btn btn-sm btn-success ml-2" %>
      </div>
　　<% end %>
　　<%= link_to "投稿を編集", edit_post_path, class:"btn btn-sm btn-info mb-3 mr-4" %><%= link_to "投稿を削除", post_path,method: :delete, data: { confirm: '本当に削除しますか？' }, class:"btn btn-sm btn-danger mb-3" %>
<% end %>

<div class="card">
  <div class="card-header">
    <span>
      投稿者：<%= link_to user_path(@post.user) do %>
                <%= @post.user.name %>
              <% end %>
    </span>
    <span class="ml-3">投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></span>
  </div>
  <div>
    <%= image_tag @post.image, class:"card-img-top" %>
  </div>
  <h4 class="card-title px-2 mb-0">
    <%= @post.title %>
  </h4>
  <div class="card-body p-2">
    <p class="small">
      <% @post_tags.each do |tag| %>
      <i class="fas fa-tag"></i>
      <%= link_to tag_path(tag) do %>
        <%= tag.tagname %><%="(#{tag.posts.count})" %>
      <% end %>
      <% end %>
    </p>
    <span><%= @post.body %></span>
  </div>
  <div class="card-footer">
    <% if user_signed_in? %>
      <% if @post.favorited_by?(current_user) %>
        <p>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          ♥<%= @post.favorites.count %> いいね
        <% end %>
        </p>
      <% else %>
        <p>
        <%= link_to post_favorites_path(@post), method: :post do %>
          ♡<%= @post.favorites.count %> いいね
        <% end %>
        </p>
      <% end %>
    <% else %>
      <%= @post.favorites.count %> いいね
    <% end %>
    </div>
  </div>
<div>
  <% @post.comments.each do |comment| %>
    <%= comment.user.name %>
    <span class="mx-2"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
    <%= comment.comment %>
    <% if comment.user == current_user %>
     <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
    <br />
  <% end %>
</div>
<div class="mt-3">
<% if user_signed_in? %>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_field :comment, class: 'form-control', placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: 'btn btn-sm btn-success mt-3' %>
  <% end %>
<% end %>
</div>