<h4>投稿一覧</h4>
 <% @posts.each do |post| %>
  <%= link_to "#{post.user.name}", admin_user_path(post.user) %>
  <%= link_to admin_post_path(post.id) do %>
    <%= image_tag post.get_image(50,50) %>
    <%= post.title %>
  <% end %>
  <% post.tags.each do |tag| %>
    <i class="fas fa-tag"></i>
    <%= link_to tag_path(tag) do %>
      <%= tag.tag %><%="(#{tag.posts.count})" %>
    <% end %>
  <% end %>
  <%= post.body %>
  <%= post.created_at.strftime('%Y/%m/%d') %></br>
   <p>
    <span>
     コメント：<%= post.comments.count %>／いいね：<%= post.favorites.count %>
    </span>
    <span class="ml-3">公開状況：
     <% if post.is_hidden == false %>
      <span class="text-success">公開</span>
     <% else %>
      <span class="text-danger">非公開</span>
     <% end %>
    </span>
   </p>
 <% end %>