<h4>会員一覧</h4>
<% @users.each do |user| %>
  <div class="m-3 card">
   <div class="card-header">
    <span class="mr-2">
      ユーザー名：
      <%= link_to admin_user_path(user) do %>
       <%= user.name %>
      <% end %>
    </span>
    <span class="mr-2">投稿件数：<%= user.posts.count %>件</span>
    <span>ステータス：
     <% if user.is_deleted == false %>
      <span class="text-success">有効</span>
      <% else %>
      <span class="text-danger">凍結</span>
     <% end %>
    </span>
   </div>
   <div class="card-body">最新の投稿：
     <% user.posts.last(1).each do |post| %>
       <%= link_to admin_post_path(post) do %>
         <%= image_tag post.get_image(50,50) %>
         <%= post.title %>
       <% end %>
        <% post.tags.each do |tag| %>
          <i class="fas fa-tag"></i>
            <%= tag.tagname %><%="(#{tag.posts.count})" %>
        <% end %>
          <%= post.body %>
          <%= post.created_at.strftime('%Y/%m/%d') %></br>
          <p>コメント：<%= post.comments.count %>／いいね：<%= post.favorites.count %></p>
        <% end %>
   </div>
  </div>
<% end %>
