<h6><%= @user.name %>さん [id:<%= @user.id %>]</h6>
<% if @user.is_deleted == true %>
    <h6 class="text-danger">このアカウントは凍結中です</h6>
  <% else %>
    <h6 class="text-info">このアカウントは有効です</h6>
  <% end %>
    <%= form_with model: @user, url: admin_user_path, method: :patch, local: true do |f| %>
      <div class="form-group">
      <%= f.radio_button :is_deleted, :false %>
      <%= f.label :"有効", class:"mr-2" %>
      <%= f.radio_button :is_deleted, :true %>
      <%= f.label :"凍結" %>
      <%= f.submit "変更を保存", class: "btn btn-sm btn-success ml-2" %>
      <p class="small">※凍結時にすべての投稿を非公開にします</p>
      </div>
    <% end %>
<h5>投稿一覧</h5>
<%= render 'admin/shered/list', posts: @posts %>
<h5 class="my-3">参加グループ</h5>
<table class='table'>
 <thead>
   <tr>
     <th>グループ名</th>
     <th>紹介文</th>
     <th>メンバー数</th>
   </tr>
 </thead>
 <tbody>
 <% @groups.each do |group| %>
  <tr>
    <td>
      <%= image_tag group.get_group_image(50,50) %>
      <%= group.group_name %>
    </td>
    <td>
      <%= group.introduction %>
    </td>
    <td>
      <%= group.users.count %>
    </td>
  </tr>
 <% end %>
 </tbody>
</table>