<h6><%= @user.name %>さん [id:<%= @user.id %>]</h6>
<% if @user == current_user %>
<div><%= link_to "会員情報の編集", edit_user_path(@user) %></div>
<% end %>
<h5 class="my-3">投稿一覧</h5>
<%= render 'public/shared/list', posts: @posts %>

<% if @user == current_user %>
<h5 class="my-3">非公開の投稿一覧</h5>
<%= render 'public/shared/list', posts: @hidden_posts %>
<% end %>

<h5 class="mt-3">参加グループ</h5>
<% if @user == current_user %>
  <p class="ml-auto">新規グループの作成は<%= link_to "こちら", new_group_path %></p>
<% end %>
<table class='table'>
 <thead>
   <tr>
     <th>グループ名</th>
     <th>紹介文</th>
     <th>メンバー数</th>
   </tr>
 </thead>
 <tbody>
 <% @groups.each do |group| %>
  <tr>
    <td>
      <%= link_to group_path(group.id) do %>
      <%= image_tag group.get_group_image(50,50) %>
      <%= group.group_name %>
      <% end %>
    </td>
    <td>
      <%= group.introduction %>
    </td>
    <td>
      <%= group.users.count %>
    </td>
    <td>
      <% if group.owner_id == current_user.id %>
      <%= link_to 'Edit', edit_group_path(group), class: "btn btn-sm btn-success" %>
      <% end %>
    </td>
  </tr>
 <% end %>
 </tbody>
</table>